html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Nav styling */
.nav {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid purple;
  justify-content: center;
  align-items: center;
}

/* Styling for nav links ul */
#nav_links {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 25px;
}

/* Styling for nav buttons */
.nav_link {
  border: 1px solid black;
  padding: 10px;
  margin-left: 15px;
  border-radius: 3px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Styling for nav buttons on hover */
.nav_link:hover {
  color: rgba(60, 136, 235, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}

/* Log In Icon */
.fa-users {
  font-size: 1.5em;
}

/* Login input styling */
#login_input {
  padding: 5px;
}

/* Main content styling */
.main {
  display: flex;
}

.search {
  border: 1px solid orange;
}

#sign_up {
  border: 1px solid blue;
}