<!DOCTYPE>
<html>
<head></head>
<body>
	 <dev id = "b"> <!-- This portion contains the Menu Bar   -->
            <a href = "/">Back</a>
        </dev>
	<dev id = "MIDDLE">
        <h3> <u>About this page :</u></h3>
        <p>
                This web application was created using free and open-source web fremework,
                writen in python. The name of it is <i>Django</i>.<br>
                The site:<br>
                1. Users can create accounts<br>
                2. Users can Search and Create blogs<br>
        </p>
	</dev>

</body>
</html>
