<!DOCTYPE>
<html>
    <head>
        <title>HomePage</title>
    </head>
    <body>
        <dev id = "Logo" > <!-- This portion contains the Logo image -->
            <center>
            <img src="/home/spil3141/Desktop/siteX/siteX_1.0/Blog/templates/html/images/logo.png" alt = "Error"  width = "400" height = "50" />
            </center>
            <br />
        </dev>

        <dev id = "Menu"> <!-- This portion contains the Menu Bar   -->
            <center>
            <a href = "/">Home</a>
            <a href = "About/">About</a>
            </center>
        </dev>
        
        <!-- This is where the Search functionality will go -->
        <dev id= "Search Field">
            <p>
                <form>
                    <center>
                    Search: 
                    <input type="text" name="search_input">
                    </center>
                </form>
            </p>
        </dev>
        <dev id = "Log in" > <!-- This contains the Log in section -->
            <center><h1>Log in</h1></center>
            <p>
                <center>
                    <form>
                        User ID: 
                        <input type="text" name= "user_id"><br><br>
                        Password:
                        <input type= "text" name= "user_password">
                    </form>
                </center>
            </p>
        </dev>
    </body>
</html>
